<footer id="footer">
    <section class="footer-ap">

        <section class="footer-1">
            <h2 class="lgf">KENAKATA</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            <h5 class="flw">Follow Us</h5>
            <div class="fl-itm">
                <p>?</p>
                <p>?</p>
                <p>?</p>
                <p>?</p>
                <p>?</p>
            </div>
        </section>

        <section class="footer-2">
            <h4>CONTACT INFO</h4>
            <p class="ttt-l">Address:</p>
            <p>Solna Business Park <br />Feni-2500, Srockholm</p>
            <p class="ttt-l">Phone:</p>
            <p>+123457954<br />+237923793</p>
            <p class="ttt-l">Email:</p>
            <p>youremail@gmail.com<br />youremail@gmail.com</p>
        </section>

        <section class="footer-3">
            <h4>USEFULL LINKS</h4>
            <p>Privacy Policy</p>
            <p>Trams & Condition</p>
            <p>Contact Us</p>
            <p>Our Sitemap</p>
            <p>Latest News</p>
            <p>Returns</p>
        </section>

        <section class="footer-4">
            <h4>RECENT INSTAGRAM</h4>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </section>



    </section>
    <div class="ft-btm">
        <p class="copy-rig"> copyright 2020 kenakata</p>
        <div class="pay-icon">
            <img src="https://icons-for-free.com/iconfiles/png/512/credit+card+debit+payment+visa+icon-1320162799182509645.png" />
            <img src="https://icons-for-free.com/iconfiles/png/512/credit+card+debit+payment+visa+icon-1320162799182509645.png" />
            <img src="https://icons-for-free.com/iconfiles/png/512/credit+card+debit+payment+visa+icon-1320162799182509645.png" />
            <img src="https://icons-for-free.com/iconfiles/png/512/credit+card+debit+payment+visa+icon-1320162799182509645.png" />

        </div>
    </div>
    <p class="bac-top-btn"><i class="fas fa-long-arrow-alt-up"></i></p>
</footer>

@code {

}
