<section id="home-subscribe">
    <div class="container">
        <div class="incontainer">
            <div id="h-subscribe">
                <h2>SUBSCRIBE <span>NOW</span></h2>
                <p>
                    Signup for awesome news about our new products and
                    know our special discounts on products.
                </p>
                <form class="sub-form">
                    <input type="email" class="form-control" placeholder="Enter email address" aria-label="Email" aria-describedby="subscribe">
                    <button class="btn" type="submit" id="subscribe">Subscribe</button>
                </form>
            </div>
            <img />
        </div>
    </div>
</section>

@code {

}
