@page "/"

<Header/>

@* ==========   Shop More Fun =============== *@
<section id="shopmorefun">
    <div class="container">
        <div class="flex justify-content-between align-items-center">
            <div class="morefun">
                <h1>Shopping is <span>MORE FUN</span></h1>
                <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed</p>
                <NavLink href="shop"><button class="btn">SHOP NOW</button></NavLink>
            </div>
            <div class="">
                <img src="assets/img/Shop more fun.svg">
            </div>
        </div>

    </div>
</section> 

@* ==================== Info Boxes ==================== *@
<InfoBoxes />

@* ==================== Shop By Categorey ============== *@
<section>
    <div>
        <div class="text-center"> SHOP BY <span>CATEGORY</span></div>


        <img class="line-center" src="assets/img/zigzag.svg" alt="...">
        <p class="p-center">We always try to give you the best product within a fast and reliable way</p>
    </div>
    <div class="grid-container ">

        <NavLink href="menProducts" class="grid-item item-1"><div><span class="s-cate">Men</span></div></NavLink>
        <NavLink href="womenProducts" class="grid-item item-2"><div><span class="s-cate">Women</span></div></NavLink>
        <NavLink href="kidsProducts" class="grid-item item-3"><div><span class="s-cate">Kids</span></div></NavLink>
        <NavLink href="shoesProducts" class="grid-item item-4"><div><span class="s-cate">Shoes</span></div></NavLink>
        <NavLink href="hatsProducts" class="grid-item item-5"><div><span class="s-cate">Hats</span></div></NavLink>
        <NavLink href="sunglassesProducts" class="grid-item item-6"><div><span class="s-cate">Sunglasses</span></div></NavLink>
        <NavLink href="watchesProducts" class="grid-item item-7"><div><span class="s-cate">Watches</span></div></NavLink>


    </div>
</section>

@* =============== New Arrivals ===================== *@

<div class="container  ">

    <div class="holder">
        <div class="text-center"> NEW  <span>ARRIVALS</span></div>
        <img class="line-center" src="./assets/img/zigzag.svg" alt="...">
        <p class="p-center">Check out our latest products from top fashion designers</p>
    </div>

</div>

<Carousel />


@* =============== New Customer ======================= *@

<section id="home-n-c" class="mt-5">
    <div class="container">
        <div class="incontainer">
            <div id="n-c">
                <h1>30% <span>OFF</span></h1>
                <p>FOR NEW CUSTOMER</p>
                <NavLink href="shop"><button class="btn">SHOP NOW</button></NavLink>
            </div>
            <div id="learnmore">
                <p>Donec pulvinar arcu vitae ipsum varius cursus. Nunc iaculis fermentum iaculis. Nunc pulvinar purus at erat lacinia, ut convallis nibh consequat. Integer nulla nisi, aliquam at tellus a, viverra scelerisque purus. Nam pretium iaculis ultrices</p>
                <NavLink href="learnmore"><button class="btn">LEARN MORE</button></NavLink>
            </div>
        </div>
    </div>
</section>


@* ===============Featured Products =================== *@

<div class="container ">

    <div class="holder">
        <div class="text-center"> FEATURED  <span>PRODUCTS</span></div>
        <img class="line-center" src="./assets/img/zigzag.svg" alt="...">
        <p class="p-center">Check out our latest products from top fashion designers</p>
    </div>

</div>

<Carousel />


@* =============== Flash Sale ========================= *@


<section id="flash-sale">

    <div class="flash-container container">

        <div class="box">
            <h1>FLASH<br>SALE</h1>
            <p>UP TO 50% OFF</p>
        </div>

        <div class="circle">
            <h2 id="day">7</h2><rb>
                <span>Days</span>
            </rb>
        </div>

        <div class="circle">
            <h2 id="hour">23</h2><rb>
                <span>Hours</span>
            </rb>
        </div>

        <div class="circle">
            <h2 id="minute">46</h2><rb>
                <span>Minutes</span>
            </rb>
        </div>

        <div class="circle">
            <h2 id="second">12</h2><rb>
                <span>Seconds</span>
            </rb>
        </div>
    </div>

    <div class="container">
        <NavLink href="shop"><button class="btn">SHOP NOW</button></NavLink>
    </div>

</section>




@* =============== Top Sellers ======================== *@

<div class="container  ">

    <div class="holder">
        <div class="text-center"> TOP  <span>SELLERS</span></div>
        <img class="line-center" src="./assets/img/zigzag.svg" alt="...">
        <p class="p-center">Check out our weekly top sellers in all category</p>
    </div>

</div>


<div class="container mb-5  ">
    <div class="grid-topSellers">
        <div class="topSellerCards">

            <NavLink href="men"><ProductCard /></NavLink>

        </div>

        <div class="topSellerCards-sub">

            <div class="sub-grid ">
                <NavLink href="Women"><ProductCard /></NavLink>

            </div>

            <div class="sub-grid">
                <NavLink href="kids"><ProductCard /></NavLink>

            </div>

        </div>



    </div>

</div>

@* ================ Recensioner ====================== *@


@* ================ Latest Blog ===================== *@


@* ================ Subscribe ======================= *@

<Subscribe />

<Footer/>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
