@page "/shop"
@* ================ shop products ======================= *@
<br>
<br>
<br>

<div class="container">
    <div class="row">

        <div class="col-3"> col3</div>
        <div class="grid-products col-9">
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>



        </div>

    </div>

</div>




<br>
<br>
<br>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="modal-body">



                <div class=" fraction1">
                    <div class="col1">
                        <img src="./assets/img/productBoy.svg" alt="">

                        <div class="multiImg">
                            <div class="subimg"> <img src="./assets/img/productBoy.svg" alt=""></div>
                            <div class="subimg"> <img src="./assets/img/productBoy.svg" alt=""></div>
                            <div class="subimg"> <img src="./assets/img/productBoy.svg" alt=""></div>
                            <div class="subimg"> <img src="./assets/img/productBoy.svg" alt=""></div>
                        </div>
                    </div>


                    <div class="col2 ">
                        <div class="reviwe">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <span><button class="link">(2 customer reviews)</button></span>
                            </div>
                            <div class="brandproduct">
                                <img src="./assets/img/Brand.svg">
                            </div>
                        </div>
                        <div>
                            <p class="productName">Gents Blue Lightweight Trainers</p>
                            <p class="productDes">
                                Nulla non dignissim neque, sit amet finibus dolor.
                                Nam semper, justo a sagittis lacinia, eros neque sagittis
                                sapien, at molestie arcu enim non lacus. Nam venenatis
                                dictum justo vel lobortis.
                            </p>
                        </div>
                        <div>
                            <span class="pricedis">$190.00</span>
                            <span class="price">$220.00</span>
                            <img src="./assets/img/In stock.svg" class="ms-5 "><span class="ms-2 textwei">In stock</span>
                        </div>
                        <div class="cartSec">
                            <div class="addRemPro">
                                <button class="removePro"><i class="fas fa-minus "></i></button>
                                <input class="ammount">
                                <button class="addPro"><i class="fas fa-plus "></i></button>
                            </div>
                            <button class="addToCart"><i class="bi bi-cart2"></i>Add to cart</button>
                            <!-- <button class="addToCart"><i class="fas fa-shopping-cart"></i>Add to cart</button> -->


                            <div class="colorPro">
                                <i class="fas fa-circle" style="color: #64CB83;"></i>
                                <i class="fas fa-circle" style="color: #FE4545;"></i>
                                <i class="fas fa-circle" style="color: #00DCFF;"></i>
                                <i class="fas fa-circle "></i>

                            </div>
                            <div>
                                <img src="./assets/img/Component 13 – 1.svg">
                            </div>
                            <div>
                                <img src="./assets/img/Heart icon.svg">
                            </div>
                        </div>
                        <div class="cateSec">
                            <span>Category:</span><span id="cateName">Clothe</span>
                        </div>
                        <div>
                            <span>Tags:</span>
                            <div class="tagsTxt">

                            </div>
                        </div>
                        <div class="shareSec">

                            <span>Share: </span>
                            <img src="./assets/img/Component 15 – 1.svg">
                            <img src="./assets/img/Component 16 – 1.svg">
                            <img src="./assets/img/Component 17 – 1.svg">
                            <img src="./assets/img/Component 18 – 1.svg">
                            <img src="./assets/img/Component 19 – 1.svg">
                        </div>

                    </div>

                </div>

            </div>



        </div>

    </div>
</div>



@code {

}
