@page "/shop"
@* ================ shop products ======================= *@
<br>
<br>
<br>

<div class="container">
    <div class="row">

        <div class="col-3"> col3</div>
        <div class="grid-products col-9">
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>



        </div>

    </div>

</div>




<br>
<br>
<br>




@code {

}
