@page "/shop"

@* ================== shop new customer ================== *@

<div id="new-customer">
    <div class="container">
        <div class="discount">
            <h1>New Customer Can Get <span style="color: #20D3C2;">30% Off</span></h1>
            <NavLink href="learnmore"><button class="btn ">LEARN MORE</button></NavLink>
        </div>

        <div class="sneakers">
            <div id="new" class="circle-new absolute-new">New</div>
            <img id="l-sneaker" class="l-sneaker" src="assets/img/Left sneaker.svg" alt="l-sneaker">
            <div id="dis" class="circle-discount absolute-dis">-20%</div>
            <img id="r-sneaker" class="r-sneaker" src="assets/img/Right sneaker.svg" alt="r-sneaker">
        </div>
    </div>
</div>



@* =================== shop sort och nav ================= *@

<div id="shop-sort">
    <div class="container">
        <div class="col-4">
            <h4 class="">Shop</h4>
            <div><NavLink href="/"><a class="link-grey">Home / </a></NavLink><NavLink href="shop"><a class="link-grey">Shop</a></NavLink></div>
        </div>

        <ul class="col-7 options list">
            <li class="nav-item border">
                <div class="d-flex align-items-center ps-4 pe-4 pt-3">
                    <p class="m-0">Show: </p>
                    <div class="d-flex">
                        <a class="nav-link p-1" href="">9/</a>
                        <a class="nav-link p-1" href="">12/</a>
                        <a class="nav-link p-1" href="">18/</a>
                        <a class="nav-link p-1" href="">24</a>
                    </div>

                </div>
            </li>


            <li id="l-sort" class="nav-item border ms-5 options">
                <a class="nav-link" href=""><i class="bi bi-list-ul me-2"></i></a>
                <a class="nav-link" href=""><i class="bi bi-grid-fill me-2"></i></a>
                <a class="nav-link" href=""><i class="bi bi-grid-3x3-gap-fill"></i></a>
            </li>

            <li class="nav-item dropdown border ms-5 options">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Default sorting
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="">Price</a></li>
                    <li><a class="dropdown-item" href="">Size</a></li>
                    <li><a class="dropdown-item" href="">New Arrivals</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
  



@* ================ shop products ======================= *@
<br>
<br>
<br>

<div class="container">
    <div class="row">

        <div class="col-3"> col3</div>
        <div class="grid-products col-9">
            <a href="exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="productsForm"><ProductCard /></div></a>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>
            <NavLink href="Women"><div class="productsForm"><ProductCard /></div></NavLink>



        </div>

    </div>

</div>




<br>
<br>
<br>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="modal-body">



                <div class=" fraction1">
                    <div class="col1">
                        <img src="./assets/img/productBoy.svg" alt="">

                        <div class="multiImg">
                            <div class="subimg"> <img src="./assets/img/productBoy.svg" alt=""></div>
                            <div class="subimg"> <img src="./assets/img/productBoy.svg" alt=""></div>
                            <div class="subimg"> <img src="./assets/img/productBoy.svg" alt=""></div>
                            <div class="subimg"> <img src="./assets/img/productBoy.svg" alt=""></div>
                        </div>
                    </div>


                    <div class="col2 ">
                        <div class="reviwe">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <span><button class="link">(2 customer reviews)</button></span>
                            </div>
                            <div class="brandproduct">
                                <img src="./assets/img/Brand.svg">
                            </div>
                        </div>
                        <div>
                            <p class="productName">Gents Blue Lightweight Trainers</p>
                            <p class="productDes">
                                Nulla non dignissim neque, sit amet finibus dolor.
                                Nam semper, justo a sagittis lacinia, eros neque sagittis
                                sapien, at molestie arcu enim non lacus. Nam venenatis
                                dictum justo vel lobortis.
                            </p>
                        </div>
                        <div>
                            <span class="pricedis">$190.00</span>
                            <span class="price">$220.00</span>
                            <img src="./assets/img/In stock.svg" class="ms-5 "><span class="ms-2 textwei">In stock</span>
                        </div>
                        <div class="cartSec">
                            <div class="addRemPro">
                                <button class="removePro"><i class="fas fa-minus "></i></button>
                                <input class="ammount">
                                <button class="addPro"><i class="fas fa-plus "></i></button>
                            </div>
                            <button class="addToCart"><i class="bi bi-cart2"></i>Add to cart</button>
                            <!-- <button class="addToCart"><i class="fas fa-shopping-cart"></i>Add to cart</button> -->


                            <div class="colorPro">
                                <i class="fas fa-circle" style="color: #64CB83;"></i>
                                <i class="fas fa-circle" style="color: #FE4545;"></i>
                                <i class="fas fa-circle" style="color: #00DCFF;"></i>
                                <i class="fas fa-circle "></i>

                            </div>
                            <div>
                                <img src="./assets/img/Component 13 – 1.svg">
                            </div>
                            <div>
                                <img src="./assets/img/Heart icon.svg">
                            </div>
                        </div>
                        <div class="cateSec">
                            <span>Category:</span><span id="cateName">Clothe</span>
                        </div>
                        <div>
                            <span>Tags:</span>
                            <div class="tagsTxt">

                            </div>
                        </div>
                        <div class="shareSec">

                            <span>Share: </span>
                            <img src="./assets/img/Component 15 – 1.svg">
                            <img src="./assets/img/Component 16 – 1.svg">
                            <img src="./assets/img/Component 17 – 1.svg">
                            <img src="./assets/img/Component 18 – 1.svg">
                            <img src="./assets/img/Component 19 – 1.svg">
                        </div>

                    </div>

                </div>

            </div>



        </div>

    </div>
</div>



@code {

}
